/* Reset basique */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #000000 !important; /* !important force l'application en cas de conflit */
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
}

.navbar-brand a,
.nav-link {
  color: #4a69ff;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
}